<!DOCTYPE html>
<html>
<head>
  <title>Product List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

    <%- include('./partials/header') %>


    <div class="container">
        <h1>Insert Product</h1>
        <form method="POST" action="/insert">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name">
            
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="text" class="form-control" id="price" name="price">
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" id="desc" name="desc">
          </div>
          <input type="submit" class="btn btn-primary" value="Input">
        </form>
    
        <% if (success) { %>
          <div class="alert alert-success" role="alert">
            <%= success %>
          </div>
        <% } %>
      </div>


</body>
</html>
